version: "3.8"

services:
  transfer-api:
    build:
      context: ./docker
      dockerfile: Dockerfile
    container_name: transfer-api
    restart: unless-stopped
    volumes:
      - .:/var/www/app
    env_file: .env
    expose:
      - 8000
    ports:
      - '${APP_PORT:-8000}:8000'
    entrypoint: ["/bin/bash", "/var/www/app/docker/entrypoint.sh"]
    command: ["php", "artisan", "octane:start", "--server=swoole", "--host=0.0.0.0"]
    networks:
      - transfer-network

  transfer-mongo:
    image: mongo:latest
    container_name: transfer-mongo
    restart: always
    volumes:
      - ./docker/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: transfer
    ports:
      - '27017:27017'
    networks:
      - transfer-network

networks:
  transfer-network:
    external: true
    name: transfer-network
